---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'

import logos from '../images/deploy-logos.png';
import logosSmall from '../images/deploy-logos-small.png';
---

<Layout title="About Astro">
  <section class="page-content">
    <div class="container">
      <h2>About the creator</h2>
      <br>
      <p>
       Dave Winnyk (MellowSea) is based in Chicago, Illinois. 
       You can hear his meditations via <a href="https://thepeaceprojectmeditations.com/" target="_blank">The Peace Project Meditations</a> 
      </p>


      <h3>Early Life</h3>
      <p>
        Dave was raised in Strongsville, Ohio as a devout catholic. He took a deep interest in spirituality 
        in addition to many other things. His first meditative experiences began with deep 
        prayer in his high school's chapel. Later in life, he lost his belief in Jesus along with any other 
        conceptions of god. 
      </p>
      
      <Card dark={true}>
        <h3>Awakening and Further Explorations</h3>
        <p>
          After the devastating loss of his father to cancer, a souring relationship with his mother, and the end of a relationship that was supposed to end in marriage, 
          Dave found himself deep in mental illness and lost. In his late twenties, he began exploring various meditation practices and reading spiritual texts
          in hopes of finding new connection with life.... 
          He first experienced headlessness as described by Richard Lang in The Headless Way on a CTA train car. 
  
        </p>
      </Card>

      <h3>Dao De Jing and The Mellow Way</h3>
      <p>
        Dave began studying the Dao De Jing in 2020 
      </p>

  
        <h3>Join our Community</h3>
        <p>
          Join us in the Astro Discord to share with and get help from an
          active, friendly community!
        </p>

        <ul>
          <li>💬 Say hi in our #introduce-yourself channel!</li>
          <li>
            💬 Ask our Support Squad a question in our #support-threads
            channel!
          </li>
          <li>
            💬 Share what you've been working on in our #showcase channel!
          </li>
        </ul>
   
    </div>
  </section>
</Layout>