---
import Card from './Card.astro'

const featuresData = [
  {title: 'Poems about Life', body: 'Honest words about what it means to be alive. The world in verses.', href: '/Poems'},
  {title: 'The Mellow Way', body: 'My interpretation of the Dao De Jing by Lao Tzu. A description of the way life is.', href: '/TheMellowWay'},
  {title: 'Meditations', body: 'Explore consciousness and relieve stress with The Peace Project Meditations', href: 'https://thepeaceprojectMeditations.com/listen'}
];
---

<section class="features">
  <div class="container">
   {featuresData.map(feature => (
    <a href={feature.href}>
      <Card>
        <h3>{feature.title}</h3>
        <p>{feature.body}</p>
      </Card>
    </a>
    ))}
  </div>
</section>

<style>
  .features .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0 20px;
    margin: 30px auto;
  }

  @media (max-width: 500px) {
  .features .container {
    grid-template-columns: 1fr;
  }
}

</style>
