<footer class="footer">
  <div class="container">
    <div>
      <h3>The Mellow</h3>
      <p>
        This website showcases the writings and other works of David Bryan Winnyk. © 2022 David Bryan Winnyk. All rights reserved. 
      </p>
    </div>
    <div>
      <h3>Links</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Poems">Poetry</a></li>
        <li><a href="/TheMellowWay">Mellow Way</a></li>
        <li><a href="https://thepeaceprojectmeditations.com/listen" target="_blank">meditations</a></li>
      </ul>
    </div>
  </div>
</footer>

<style>
  .footer {
    background: var(--color-primary);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
  }

  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer a {
    color: #a741ff;
  }

  .footer a:hover {
    text-decoration: underline;
  }

  .footer h3 {
    margin-bottom: 10px;
  }

  .footer div:nth-child(1) {
    text-align: center;
  }


  @media (max-width: 500px) {
    .footer div:nth-child(2) {
      display: none;
    }
  }
</style>