---
import TheMellowText from '../images/TheMellowText.png'
---

<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/">
        <img src={TheMellowText} alt="An M on a Black teardrop with a teal and purple embellishment. The logo for The Mellow." />
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Poems">Poetry</a></li>
        <li><a href="/TheMellowWay">MellowWay</a></li>
        <li><a href="https://thepeaceprojectMeditations.com/listen" target="_blank">Meditations</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .header {
  height: 70px;
  background: var(--color-primary);
}

.header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header img {
  height: 35px;
  vertical-align: middle;
}

.header nav ul {
  display: flex;
}

.header nav ul li {
  padding: 0 10px;
}

.header nav ul li a {
  color: #fff;
}
</style>